html {
  scroll-behavior: smooth;
}
#name,
#desc {
  font-family: "Yesteryear", cursive;
}
#mypic {
  height: 100%;
}
#wbd {
  font-family: "Luxurious Roman", cursive;
  height: 45vh;
}
#quote {
  font-family: "Yanone Kaffeesatz", sans-serif;
  height: 40vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
