#name,
#desc {
  font-family: "Yesteryear", cursive;
}
#mypic {
  height: 100%;
}
#wbd {
  font-family: "Luxurious Roman", cursive;
  height: 45vh;
}
#quote {
  font-family: "Caveat", cursive;
  height: 40vh;
}
