.container {
  background-color: white;
}
.navbar-brand {
  font-family: "Varela Round", sans-serif;
  color: white;
}
.nav-item {
  font-family: "Cabin", sans-serif;
}

.navbar-text {
  font-family: "Comforter Brush", cursive;
}
.nav-link {
  border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: black;
}
