.container {
  background-color: white;
}
.navbar-brand {
  font-family: "Varela Round", sans-serif;
  color: white;
}
.nav-item {
  font-family: "Cabin", sans-serif;
}

#text {
  font-family: "Comforter Brush", cursive;
  color: brown;
}
.nav-link {
  border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: black;
}
body {
  background-color: #e9edc9;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
