#projects {
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  color: black;
  border: 2px solid rgb(94, 0, 0);
  border-radius: 5px;
}
#view:hover {
  background-color: white;
  color: black;
}
#btmlink:hover {
  background-color: black;
}
